{% load static %}

<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'org_selector/style.css'%}">
</head>
<body>
	<h1>test</h1>
	<div>
		<a href=""></a>
	</div>
	<div>
		{{ test.0 }} > {{ test.1 }} > {{ test.2 }} > {{ test.3 }}
		<p><a href="/0/0/0/0/"><strong>Сбросить фильтр</strong></a></p>
	</div>
	<div class="d-table">
	<div class="d-tr">
	<div class="d-td">

	{% for otrasl in Otrasls %}
		<p><a href="/{{otrasl.id}}/0/{{me_ray}}/{{me_nsp}}/">{{ otrasl.name }} (id: {{ otrasl.id }})</a></p>
		{% if otrasl.id == me_otr %}
		<ol>
		{% for podotrasls in PodOtrasls %}
			{% if podotrasls.otrasl == otrasl %}
				<ul><a href="/{{otrasl.id}}/{{podotrasls.id}}/{{me_ray}}/{{me_nsp}}/">{{ podotrasls.name }} (id: {{ podotrasls.id }})</a></ul>
			{% endif %}
		{% endfor %}
		</ol>
		{% endif %}
	{% endfor %}
	</div>

	<div class="d-td">
	<!-- <p><a href="/0/0/0/0/"><strong>Сбросить фильтр</strong></a></p> -->
	{% for rayon in Rayons %}
		<p><a href="/{{me_otr}}/{{me_podotr}}/{{rayon.id}}/0/">{{ rayon.name }} (id: {{ rayon.id }})</a></p>
		{% if rayon.id == me_ray %}
		<ol>
		{% for nsp in Nsps %}
			{% if nsp.rayon == rayon %}
				<ul><a href="/{{me_otr}}/{{me_podotr}}/{{rayon.id}}/{{nsp.id}}/">{{ nsp.name }} (id: {{ nsp.id }})</a></ul>
			{% endif %}
		{% endfor %}
		</ol>
		{% endif %}
	{% endfor %}
	</div>
	<div class="d-td basic">
		<!-- <p>{{ me_otr }}</p>
		<p>{{ me_podotr }}</p>
		<p>{{ me_ray }}</p>
		<p>{{ me_nsp }}</p> -->
		{% if Orgs.count > 0 %}
		{% for org in Orgs %}
			<p>{{ org.name }}</p>
			{% for org_cont in OrgContact %}
				{% if org == org_cont.org %}
					<p>Адрес: <strong>{{ org_cont.adres }}</strong></p>
					<p>Телефоны: <strong>{{ org_cont.telefone }}</strong></p>
					<p>e-mail: <strong>{{ org_cont.email }}</strong></p>
					{% if org_cont.url|length != 0 %}
						<p>www: <a href="{{ org_cont.url }}" target="_blank"><strong>{{ org_cont.url }}</strong></a></p>
					{% endif %}
					<p>Время работы: <strong>{{ org_cont.vremya }}</strong></p>
				{% endif %}

			{% endfor %}
			<hr>
		{% endfor %}
		{% else %}
			<p><strong><em>Нет данных ({{ test.0 }} > {{ test.1 }} > {{ test.2 }} > {{ test.3 }})!</em></strong></p>
		{% endif %}

	</div>
	</div>
	</div>

</body>
</html>
