.d-table{
  display: table;
  width: 60%;
  border-collapse: collapse;
}
.d-tr{
  display: table-row;
}
.d-td{
  display: table-cell;
  /*text-align: center;*/
  border: none;
  border: 1px solid #ccc;
  /*vertical-align: middle;*/
}

.basic {
	width: 300px;
}

      .my_header {
        background-image: url(img/tekstura-geometriya-siniy.jpg);

        background-position: 0% 50%; /* Положение фона  флаг КЧР 50 Х 20 */
        background-repeat: no-repeat; /* Отменяем повторение фона */
      text-shadow: 1px 1px 5px black;
        color: white;
        }
      .zaglavn {
        font-size: 60px;
        font-weight: bold;
      }
      .my_menu {
        color: white;
        font-size: 20px;
      }
      .navbar {
      padding-top: 0;
      padding-bottom: 0;
      }
      .navbar-nav .nav-link:first-child {
        color: white;

    }
      .navbar-nav .nav-link:first-child:hover {
        color: white;
        text-decoration: underline;
    }

/*      .nav-item .active:first-child {
        text-decoration: underline;
    }
*/
.my_footer {
  height: 100px;
  background-color: #282828;
  color: white;
}

.my_container {
  min-height: 400px;
}

.or_mat_white {
  background-color: rgba(255,255,255,0.1);
/*  opacity: .2;
  color: white;*/
}
